@import "reset";

// @import "https://unpkg.com/open-props";
// @import "https://unpkg.com/open-props/normalize.min.css";
// @import "theme/orange";
@import "theme/normal";
@import "theme/dark";

// @import "fonts/fonts";
@import "variables/global";

html {
  scrollbar-width: none;
  background: #f5f6fa;

  // max-height: fit-content;
  // border: 3px solid red;

  // scrollbar-color: red red;
}

body {
  background: var(--body-bg-color);

  // scrollbar-color: red green;

  // scrollbar-color: #979797  var(--body-bg-color);

  // width: var(--scroll-bar-main-width);;
  // cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
  // scrollbar-width: thin;
  // scrollbar-gutter: stable both-edges;
}

body * {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color);
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 5px 3px var(--accent-rgb-2), 0 0 1px 1px var(--accent-rgb-8);

  //   border: 1px solid var(--accent);
}

#my-gif {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100px; /* Установите ширину по вашему усмотрению */
  height: auto; /* Это сохранит пропорции гифки */
  margin: 10px; /* Добавьте немного отступа, чтобы гифка не прилипала к краю */
  z-index: 1000; /* Это убедится, что гифка всегда будет поверх других элементов */
}

// prevent text selection while DnD
body.dragging * {
  user-select: none;
  cursor: grabbing;
}

#root {
  // isolation: isolate;
}

.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--text);
}

.app {
  // background: var(--bg);
  min-height: 100vh;
  margin-inline: auto;

  // scrollbar-gutter: stable;

  // max-width: 1200px;
}

.content-page {
  display: flex;
}

::-webkit-scrollbar-thumb {
  /* Укажи цвет скроллбара */
  background: #979797;

  /* Укажи радиус скругления скроллбара */
  border-radius: 10px;
}

::-webkit-scrollbar {
  /* Укажи ширину вертикального скроллбара */
  width: var(--scroll-bar-main-width);
  height: 5px;

  // margin-right: 20px;

  /* Укажи высоту горизонтального скроллбара */
  // height: 5px;

  /* Укажи цвет фона под скроллбаром */
  // background: #000;
}
.spinner_I8Q1 { animation: spinner-qhi1 0.75s linear infinite; }
.spinner_vrS7 { animation-delay: -0.375s; }

.spinner-request {
  transform-origin: center;
  animation: spinner-xv 1s cubic-bezier(0.36, 0.6, 0.31, 1) infinite;
}

@keyframes spinner-xv {
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spinner-qhi1 {
  0%,
  100% { r: 1.5px; }
  50% { r: 3px; }
}

.pageStyles {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 20px;
  height: calc(100vh - var(--header-height));
  overflow: auto;
  scrollbar-gutter: stable;
}

.pageWrapperStyles {
  width: min(100%, 1200px);
  margin: 0 auto;
}

.blockWithDivider {
  // padding-bottom: var(--empty-space-after-and-before-divider);
  // padding-top: var(--empty-space-after-and-before-divider);
  background: linear-gradient(90deg, transparent 3%, rgb(128 128 128 / 15.8%), transparent 97%);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: bottom;
}

// *::-webkit-scrollbar {
//   width: 12px;               /* ширина scrollbar */
//   height: 8px;
// }

// *::-webkit-scrollbar-track {
//   background: var(--card-bg);        /* цвет дорожки */
// }

// *::-webkit-scrollbar-thumb {
//   background-color: var(--inverted-primary-color);    /* цвет плашки */
//   border-radius: 20px;       /* закругления плашки */
//   border: 2px solid var(--primary-color);  /* padding вокруг плашки */
// }
