@import "reset";

// @import "https://unpkg.com/open-props";
// @import "https://unpkg.com/open-props/normalize.min.css";
@import "theme/normal";
@import "theme/dark";
@import "theme/orange";
@import "fonts/fonts";
@import "variables/global";

body {
  // overflow: auto;
  // height: 100vh;
  background: #f5f6fa;

  // cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;
  // scrollbar-width: thin;
  // scrollbar-gutter: stable both-edges;
}

.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--text);
}

.app {
  // background: var(--bg);
  min-height: 100vh;
  margin-inline: auto;

  // scrollbar-gutter: stable;

  // max-width: 1200px;
}

.content-page {
  display: flex;
}

*:focus {
  // outline: none;
  // box-shadow: 0 0 5px 3px rgba(#33d69f, 0.2), 0 0 1px 1px rgba(#33d69f, 0.8);

  // border: 1px solid var(--accent);
}

// .bottom_left {
//   top: 100%;
//   right: 0;
// }

// .bottom_right {
//   top: 100%;
//   left: 0;
// }

// .top_right {
//   bottom: 100%;
//   left: 0;
// }

// .top_left {
//   right: 0;
//   bottom: 100%;
// }

// .fw_300 {
//   font-weight: 300;
// }

// .fw_500 {
//   font-weight: 500;
// }

// .fw_600 {
//   font-weight: 600;
// }

// .fw_700 {
//   font-weight: 700;
// }

// .fw_900 {
//   font-weight: 900;
// }
::-webkit-scrollbar-thumb {
  /* Укажи цвет скроллбара */
  background: #979797;

  /* Укажи радиус скругления скроллбара */
  border-radius: 10px;
}

::-webkit-scrollbar {
  /* Укажи ширину вертикального скроллбара */
  width: 5px;

  // margin-right: 20px;

  /* Укажи высоту горизонтального скроллбара */
  // height: 5px;

  /* Укажи цвет фона под скроллбаром */
  // background: #000;
}
.spinner_I8Q1 { animation: spinner-qhi1 0.75s linear infinite; }
.spinner_vrS7 { animation-delay: -0.375s; }

@keyframes spinner-qhi1 {
  0%,
  100% { r: 1.5px; }
  50% { r: 3px; }
}

// *::-webkit-scrollbar {
//   width: 12px;               /* ширина scrollbar */
//   height: 8px;
// }

// *::-webkit-scrollbar-track {
//   background: var(--card-bg);        /* цвет дорожки */
// }

// *::-webkit-scrollbar-thumb {
//   background-color: var(--inverted-primary-color);    /* цвет плашки */
//   border-radius: 20px;       /* закругления плашки */
//   border: 2px solid var(--primary-color);  /* padding вокруг плашки */
// }
