.toastViewport {
  display: grid;
  gap: 20px;
  position: fixed;
  bottom: 0;
  grid-auto-flow: revert;
  right: 0;
  z-index: 99999;
  padding: 25px;
}

.test {
  border: 2px solid red;
}

.bottom_left {
  top: 100%;
  right: 0;
}

.container {
  width: min(100%, 1200px);
  margin: 0 auto;

  /* test border */
  border: 1px solid red;
}

.disallowUserSelect {
  user-select: none;
}

.bottom_right {
  top: 100%;
  left: 0;
}

.top_right {
  bottom: 100%;
  left: 0;
}

.top_left {
  right: 0;
  bottom: 100%;
}

.target {
  margin: 0;
}

.fw_300 {
  font-weight: 300;
}

.fw_500 {
  font-weight: 500;
}

.fw_600 {
  font-weight: 600;
}

.fw_700 {
  font-weight: 700;
}

.fw_900 {
  font-weight: 900;
}

.lineInCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 100%;
  background: red;
}
