// *::after,
// *::before

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  list-style-type: none;
}

img {
  display: block;

  // max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
}
