.wrapper {
  display: grid;
  place-content: center;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 15px;
  max-width: 300px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  margin-top: 10px;
}

.loginBtn {
  // margin-top: 15px;
  // margin-left: auto;
  margin: 15px auto;
}

.textBeforeLinkButton,
.linkButton {
  font-size: 14px;
  margin-right: 4px;
}

.forgetLink,
.linkButton {
  color: var(--accent);
  cursor: pointer;

  // text-decoration: none;
}

.forgetLink {
  font-size: 14px;
  text-decoration: underline;
}

.linkButton:hover {
  text-decoration: underline;

  // display: contents;
}
