.wrapper {
  display: grid;
  place-content: center;
}

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   flex-grow: 1;
// height: 100%;
//   // height: calc(100vh - var(--header-height));
// }

.skeletonWrapper {
  min-width: 100%;
}

.LoginForm,
.LoginFormSkeleton {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 15px;
  max-width: 300px;
}

.LoginFormSkeleton {
  margin: 0 auto;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  margin-top: 10px;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: var(--accent);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.passwordWrapper {
  position: relative;
}

.loginBtn {
  // margin-top: 15px;
  // margin-left: auto;
  margin: 15px auto;
}

.loginBtnSkeleton {
  margin: 15px;
}

.textBeforeLinkButton,
.linkButton {
  font-size: 14px;
  margin-right: 4px;
}

.forgetLink,
.linkButton {
  color: var(--accent);
  cursor: pointer;

  // text-decoration: none;
}

.forgetLink {
  font-size: 14px;
  text-decoration: underline;
}

.linkButton:hover {
  text-decoration: underline;

  // display: contents;
}
