:root {
  --view-rows: 2;
  --font-family-main: Montserrat, "Times New Roman", serif;
  --font-family-text: Montserrat, "Nunito Sans", sans-serif;
  --font-family-header: Montserrat, sans-serif;

  // --font-family-main: Inter, "Times New Roman", serif;
  // --font-family-text: "Nunito Sans", sans-serif;
  // --font-family-header: "Roboto", sans-serif;

  // s
  --font-size-s: 12px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-s-text: var(--font-size-s) / var(--font-line-s) var(--font-family-text);
  --font-s-header: var(--font-size-s) / var(--font-line-s) var(--font-family-header);

  // m
  --font-size-m: 16px;
  --font-size-pre-m-button: 14px;
  --font-size-m-button: 16px;
  --font-line-m-button: 24px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-m-text: var(--font-size-m) / var(--font-line-m) var(--font-family-text);
  --font-m-header: var(--font-size-m) / var(--font-line-m) var(--font-family-header);

  // l
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-l-text: var(--font-size-l) / var(--font-line-l) var(--font-family-text);
  --font-l-header: var(--font-size-l) / var(--font-line-l) var(--font-family-header);

  // xl
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
  --font-xl-text: var(--font-size-xl) / var(--font-line-xl) var(--font-family-text);
  --font-xl-header: var(--font-size-xl) / var(--font-line-xl) var(--font-family-header);

  // xxl header
  --font-size-xxl: 40px;
  --font-line-xxl: 52px;
  --font-xxl-header: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-header);

  // custom fonts
  --big-data-labels-cards-counter-font-size: 18px;
  --big-data-labels-label-name-font-size: 13px;

  // Sizes
  --header-height: 50px;
  --nav-bar-item-min-width: 195px;
  --nav-padding: 20px;
  --sidebar-collapsed: 80px;
  --sidebar-width: 300px;
  --checkbox-size: 15px;
  --view-page-icon-button-size: 28px;
  --data-label-min-width: 160px;
  --gap-between-data-labels: 20px;
  --empty-space-after-and-before-divider: 30px;
  --gap-between-widgets-view-page: 20px;
  --width-view-page-initializer: min(100%, 1200px);
  --min-height-sorting-wrapper: 40px;
  --width-view-page-shelf-column: 60px;
  --width-view-page-created-at-column: 80px;
  --width-view-page-last-training-at-column: 90px;
  --width-trash-page-shelf-title: 400px;
  --width-trash-page-box-title: 400px;

  // button
  --button-main-border: 1px solid #33d69f;
  --button-error-border: 1px solid #33d69f;
  --button-main-padding: 8px 18px;

  // Buttons sizes
  // --button-m: 40px;

  // z-index
  --header-index: 10;
  --multi-select-index: 11;
  --drop-down-menu-index: 11;
  --dialog-index: 50;
  --dialog-overlay-index: 10;
  --dialog-content-index: 11;
  --time-setter-shelf-template-index: 10;
  --gradient-edge-shelf-template-index: 9;

  // colors
  --overlay-background: rgb(0 0 0 / 69%);
  --red-light: rgb(250 33 33);
  --red-dark: rgb(209 17 17);

  // opacity
  --opacity-disabled: 0.7;

  // border
  --border-radius-main: 4px;
  --border-radius-8: 8px;
  --border-radius-16: 16px;
  --border-radius-34: 34px;
  --border-radius-48: 48px;
  --tabs-border-radius: 8px;
  --tabs-border-top-and-bottom-size: 1px;
  --border-radius-shelf: 12px;
  --border-radius-button-main: 999px;

  // padding
  --padding-main: 8px 16px;
  --padding-button-main: 10px 16px;
  --padding-button-cupboard-action-top: 12px;
  --padding-button-cupboard-action-side: 28px;
  --padding-main-top-and-bottom: 8px;
  --padding-0-top-16-side: 0 16px;
  --padding-additional-from-collapse: 22px;
  --padding-additional-from-train-button: 14px;
  --padding-shelf-right: 20px;
  --padding-shelf-top-and-bottom: 22px;
  --padding-0-top-16-right-8-left-side: 0 16px 0 8px;
  --padding-0-top-16-right-16-left-side: 0 16px;
  --padding-2-top-8-left-16-right: 2px 16px 2px 8px;
  --padding-2-top-16-side: 2px 16px;
  --padding-3-top-16-side: 3px 16px;
  --padding-3-top-8-left-16-right: 3px 16px 3px 8px;
  --padding-5-top-16-side: 5px 16px;
  --padding-page: 20px;
  --padding-textarea-top-and-bottom: 8px;
  --padding-textarea-left-and-right: 16px;
  --padding-missed-training-radio-group: 20px 0 30px 0;
  --padding-right-correction-info-icon: 23px;
  --padding-profile-row-data: 10px;
  --additional-padding-top-data-labels: 10px;
  --card-list-item-padding-top-and-bottom: 8px;
  --card-list-item-padding-left-and-right: 14px;
  --card-list-item-li-margin-bottom: 8px;
  --big-data-labels-data-holder-padding-top: 5px;
  --tab-item-padding-top-and-bottom: 6px;
  --tab-item-padding-left-and-right: 16px;
  --trash-page-entity-left-padding: 20px;

  // gaps and margins
  --shelves-list-vertical-gap: 46px;

  /* stylelint-disable-next-line length-zero-no-unit */
  --big-data-labels-data-holder-padding-right: 0px;
  --big-data-labels-data-holder-padding-bottom: 3px;
  --big-data-labels-data-holder-padding-left: 15px;

  // training
  --training-top-part: 100px;
  --training-bottom-part: 300px;

  // modals
  --empty-space-top-height: 10px;
  --empty-space-bottom-height: 10px;
  --gap-between-label-and-textarea: 4px;
  --area-and-label-wrapper-padding-bottom: 2px;
  --main-content-vertical-gap: 32px;
  --max-percent-of-screen-for-main-content: 0.9;

  // scroll
  --scroll-bar-main-width: 5px;

  // checkbox
  // --checkbox-size: 15px;

  // box-shadow main
  // --entities-box-shadow-main: 0 1px 4px rgb(0 0 0 / 10%);
  --entity-box-box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
}
