.BoxesBlock {
  display: flex;
  gap: 15px;

  // padding: 15px 10px 10px;

  // overflow: auto;
  // overflow-x: scroll;
  // overflow-y: hidden;

  // &::-webkit-scrollbar-thumb {
  //   /* Укажи цвет скроллбара */
  //   background: #97979751;

  //   /* Укажи радиус скругления скроллбара */
  //   border-radius: 10px;
  // }
}

.gradientEdgeLeft,
.gradientEdgeRight {
  position: absolute;
  width: 180px;
  height: 100%;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.gradientEdgeLeft {
  left: 0;
  background: linear-gradient(-90deg, transparent 15%, red);

  // background: linear-gradient(-90deg, transparent 15%, var(--body-bg-color));
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gradientEdgeRight {
  right: 0;
  background: linear-gradient(90deg, transparent 15%, red);

  // background: linear-gradient(90deg, transparent 15%, var(--body-bg-color));
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.commonWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.setBoxesLeft {
  left: 0;

  // padding-bottom: 50px;
}

.substitute {
  position: relative;
  height: 215px;
  padding: 15px 10px 10px;
  padding-bottom: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #97979751 var(--bg);

  // margin-left: 100px;

  &::-webkit-scrollbar-thumb {
    /* Укажи цвет скроллбара */
    background: #97979751;

    /* Укажи радиус скругления скроллбара */
    border-radius: 10px;
  }
}

@supports (-moz-appearance:none) {
  .substitute {
    padding-bottom: 205px;
  }
}
