.substitute {
  height: 162px;
}

.BoxesBlock {
  display: flex;
  gap: 15px;
  padding: 15px 10px 10px;
  overflow: auto;

  &::-webkit-scrollbar-thumb {
    /* Укажи цвет скроллбара */
    background: #97979751;

    /* Укажи радиус скругления скроллбара */
    border-radius: 10px;
  }
}
