.ShelfTemplateSettings {
  position: relative;
  // width: 100%;
  max-width: 1200px;

  // overflow-x: auto;

  // border: green 1px solid;
  min-width: 600px;

  // z-index: 101;
}

.overlay {
  background-color: var(--overlay-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
}
