.BoxesSettingsList {
  max-width: 1200px;
  width: fit-content;
  display: flex;
  margin: 0 auto;

  // justify-content: flex-start;
  // width: 100%;
  padding: 20px 0;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
