.MyRadioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  border: 1px solid transparent;
}

.activeItem {
  outline: none;
  box-shadow: 0 0 5px 3px rgba(#33d69f, 0.2);
  border: 1px solid var(--accent);
}

.checked {
  width: 100%;
  height: 100%;
  background: var(--accent);
  border-radius: 99999px;
}

.circle {
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 99999px;
  border: 2px solid var(--accent);
}
