.ShelfButtons,
.ShelfButtonsIcons {
  display: flex;
  align-items: center;
  gap: 14px;

  // width: max-content;
}

.addCardButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewButton > svg,
.addCardButton > svg {
  overflow: visible;
}

.ShelfButtonsIcons {
  gap: 14px;

  // padding-right: 30px;
}

.button {
  // font-weight: 300;

  // margin-left: 15px;
}

.buttonIcon {
  padding: 0;
  margin: 0;
}

.arrow {
  // padding-left: 10px;
  margin-left: var(--padding-additional-from-collapse);
  transition: all 0.2s;
}

.trainButton {
  margin-left: var(--padding-additional-from-train-button);
}

.iconButtons {
  transition: all 0.2s;

  // color: red;
  // fill: red;
}

.rotateArrow {
  transform: rotate(180deg);
}
