.ShelfButtons {
  display: flex;
  align-items: center;
  gap: 14px;

  // width: max-content;
}

.button {
  // font-weight: 300;

  // margin-left: 15px;
}

.buttonIcon {
  padding: 0;
  margin: 0;
}

.arrow {
  transition: all 0.2s;
}

.rotateArrow {
  transform: rotate(180deg);
}
