.shelf {
  border-radius: 5px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  margin-bottom: 30px;
  background-color: var(--bg);

  // background-color: var(--bg);
  padding: 10px 20px 10px 15px;
  position: relative;

  // z-index: 5;
  // isolation: isolate;

  // transition: all 2s;
}

.shelfWrapper {
  position: relative;
}

.dragIcon {
  position: absolute;
  left: -40px;
}

.handle {
  display: flex;
  align-items: center;
  width: 40px;
  height: 100%;
  position: absolute;
  left: -40px;
  top: 0;

  // top: calc(50% - 20px);
  // background-color: red;
  // cursor: grab;
  z-index: 2;
  isolation: isolate;
}

.handle2 {
  width: 600px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;

  // background-color: green;
  cursor: pointer;
  z-index: 1;
}

.titleSkeleton {
  margin: 2px 0;
}

.topShelfPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomBoxesWrapper {
  // overflow: auto;
  // clip-path: inset(0);
}

.boxesWrapper {
  display: grid;

  // overflow: hidden;

  // grid-template-rows: 0fr;
  // transform: translateY(-300px);
  transition: grid-template-rows 0.3s ease;

  // overflow: hidden;
}

.notCollapsed {
  grid-template-rows: 1fr;
}

.collapsed {
  grid-template-rows: 0fr;

  // transform: translateY(-30000px);
}

.collapsed .inner {
  overflow: hidden;

  // animation: overflow-changer-back 0.3s ease;
}

.notCollapsed .inner {
  // overflow: hidden;

  // animation: overflow-changer-back 0.3 ease;

  animation: overflow-changer 0.3s ease;

  // animation: overflow-changer 0.3s ease normal forwards;
}

@keyframes overflow-changer {
  0% {
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    overflow: initial;
  }
}

@keyframes overflow-changer-back {
  0% {
    overflow: initial;
  }

  99% {
    overflow: initial;
  }

  100% {
    overflow: hidden;
  }
}
