.contentPresenter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.contentListWrapper {
  position: relative;

  // display: flex;
  // flex-direction: column;
  // gap: 20px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100%;
  align-items: stretch;
}

.labelsWrapper {
  // display: flex;
  // align-items: center;
  // gap: 40px;
  // user-select: none;
  // min-height: var(--min-height-sorting-wrapper, 40);
  display: flex;
  align-items: center;

  // justify-content: space-between;
  gap: 40px;
  min-width: 100%;
  padding: 0 var(--card-list-item-padding-left-and-right);

  // padding: var(--card-list-item-padding-top-and-bottom) var(--card-list-item-padding-left-and-right);

  // min-height: 20px;
  // border: 1px solid red;
}

.absolute {
  left: 0;
  min-width: 100%;
}

// .ShelfItem {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: 40px;
//   min-width: 100%;
//   padding: var(--card-list-item-padding-top-and-bottom) var(--card-list-item-padding-left-and-right);
//   background-color: var(--bg);
//   box-shadow: var(--entities-box-shadow-main);
//   border-radius: var(--border-radius-main);

//   // border: 1px solid red;
// }

// .shelfItemContent {
//   display: flex;
//   align-items: center;
//   gap: 40px;
//   justify-content: space-around;
//   width: calc(100% - 240px);
// }

// // .item {
// //   display: flex;
// //   gap: 20px;
// //   cursor: pointer;
// //   position: relative;
// //   margin-bottom: 8px;

// //   // z-index: 1;

// //   // border: 1px solid red;
// // }

// .title {
//   font-size: 15px;
//   width: 500px;
// }
