.switcherWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
  border: 1px solid transparent;
}

.label {
  cursor: pointer;
}

.switcher {
  all: unset;

  // border: 1px solid transparent;
  display: block;
  width: 36px;
  height: 20px;

  //   width: 36px;
  //   height: 20px;
  position: relative;

  // box-shadow: rgb(0 0 0 / 17%) 0 2px 10px;
  // -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  border-radius: 9999px;
  background-color: rgb(128 128 128 / 45.2%);
}

.switcher[data-state="checked"] {
  background-color: var(--accent);
}

.switcher[disabled] {
  cursor: not-allowed;
}

.pointer {
  cursor: pointer;
}

.switcherCircle {
  display: block;
  width: 16px;
  height: 16px;

  // background-color: white;
  border-radius: 9999px;

  // box-shadow: rgb(0 0 0 / 17%) 0 2px 2px;
  transition: transform 0.3s;
  transform: translateX(2px);
  will-change: transform;
  background: var(--bg);
}

.switcherCircle[data-state="checked"] {
  transform: translateX(18px);
}

// ------------------------

// .switcherWrapper {
//   display: flex;
//   align-items: center;
//   justify-content: end;
//   gap: 16px;

// }

// .label {
//   cursor: pointer;
// }

// .switcher {
//   display: flex;
//   align-items: center;
//   outline: none;
//   background-color: rgb(128 128 128 / 45.2%);
//   height: 20px;
//   width: 36px;
//   border-radius: 50px;
//   border: none;
// }

// .pointer {
//   cursor: pointer;
// }

// .switcher_active {
//   background-color: var(--accent);
// }

// .switcherCircle {
//   height: 16px;
//   width: 16px;
//   border-radius: 50px;
//   background: var(--bg);
//   transform: translateX(2px);
//   transition: transform 0.3s;
// }

// .switcherCircle_active {
//   transition: transform 0.3s;
//   transform: translateX(18px);
// }
