.SmallDataLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  max-width: 40px;
  border-radius: 12px 0;
  padding: 0 12px;
  user-select: none;
}

.train {
  background-color: var(--small-data-label-background-train);
  color: var(--small-data-label-color-train);
  fill: var(--small-data-label-color-train);
}

.wait {
  background-color: var(--small-data-label-background-wait);
  color: var(--small-data-label-color-wait);
  fill: var(--small-data-label-color-wait);
}

.all {
  background-color: var(--small-data-label-background-all);
  color: var(--small-data-label-color-all);
  fill: var(--small-data-label-color-all);
}
