.BoxSettingsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 137px;
  min-width: 125px;
  justify-content: start;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
  position: relative;
}

.title {
  font-size: 13px;
  font-weight: 500;
  color: rgb(22 22 22 / 68.3%);
}

.timeSetter {
  position: absolute;
  z-index: 101;
}
