.addonLeft svg,
.addonRight svg {
  // color: var(--hint);
}

.Button {
  text-wrap: nowrap;
  text-align: center;
  outline: none;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    // color: var(--accent);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent);
    }
  }
}

.back {
  color: grey;
  background-color: transparent;
  border: 1px solid transparent;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    outline: none;

    // border-bottom: 1px solid gray;
    // box-shadow: none;

    box-shadow: 0 0 1px 1px rgb(128 128 128 / 40%);
  }
}

// .listBox {
//   padding: 0;
//   border: none;
//   background: none;
//   outline: none;
//   width: 70%;
// }

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addonLeft,
.addonRight {
  display: flex;
}

.addonRight {
  padding-left: 8px;
}

.paddingDefault {
  padding: var(--padding-main);
}

.paddingWithBothAddon,
.paddingWithRightAddon {
  padding: var(--padding-3-top-16-side);
}

.paddingWithLeftAddon {
  padding: var(--padding-3-top-8-left-16-right);
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: var(--border-main);
  color: var(--text);
  background: none;
}

.filledBox {
  color: var(--button-filled-text-color);

  &.main {
    background: var(--accent);
    border: 1px solid var(--accent);

    &:hover {
      opacity: 0.6;
    }
  }
}

.filled {
  color: var(--button-filled-text-color);

  &.red {
    background: var(--red-light);
    border: 1px solid var(--red-dark);

    &:hover {
      background-color: transparent;
      color: var(--cancel);
    }
  }

  &.orange {
    background: var(--wait-color);
    border: 1px solid var(--wait-color);

    &:hover {
      background-color: transparent;
      color: var(--wait-color);
    }
  }

  &.main {
    background: var(--accent);
    border: 1px solid var(--accent);

    &:hover {
      background-color: transparent;
      color: var(--accent);

      // 666
    }
  }

  &.trainingAction {
    color: rgb(41 26 95 / 87.7%);

    // color: var(--button-color-training-filled);
    border: 1px solid var(--button-color-training-empty);
  }

  &.attention {
    // color: white;
    background: var(--red-light);
    border: 1px solid  var(--red-light);

    &:hover {
      background-color: transparent;
      color: var(--red-light);
    }
  }

  &.wait {
    // color: white;
    background: var(--wait-color);
    border: 1px solid  var(--wait-color);

    &:hover {
      background-color: transparent;
      color: var(--wait-color);
    }
  }
}

.empty {
  background-color: transparent;

  &.red {
    color: var(--cancel);
    border: 1px solid var(--cancel);

    &:hover {
      background-color: var(--cancel);
      color: var(--button-filled-text-color);
    }
  }

  &.orange {
    color: var(--wait-color);
    border: 1px solid var(--wait-color);

    &:hover {
      background-color: var(--wait-color);
      color: var(--button-filled-text-color);
    }
  }

  &.main {
    color: var(--accent);
    border: 1px solid var(--accent);

    &:hover {
      background-color: var(--accent);
      color: var(--button-filled-text-color);
    }
  }

  &.trainingAction {
    color: var(--button-color-training-empty);
    border: 1px solid var(--button-color-training-empty);
  }
}

.success {
  border: var(--border-success);
  background: none;

  &:hover {
    color: var(--save);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent);
    }
  }
}

.cancel {
  border: var(--border-cancel);
  background: none;
  color: var(--cancel);

  // &:focus-visible {
  //   outline: none;
  //   box-shadow: 0 0 5px 3px var(--cancel), 0 0 1px 1px var(--cancel);

  //   //   border: 1px solid var(--accent);
  // }

  // &.attention {
  //   color: var(--cancel);
  //   background: var(--red-light);
  //   border: 1px solid  var(--red-light);

  //   &:hover {
  //     background-color: transparent;
  //     color: var(--red-light);
  //   }
  // }

  &:hover {
    background-color: var(--cancel);
    color: var(--button-filled-text-color);

    .addonLeft svg,
    .addonRight svg {
      color: var(--cancel);
    }
  }
}

.borderRadius {
  &_4 {
    border-radius: 4px;
  }

  &_6 {
    border-radius: 6px;
  }

  &_8 {
    border-radius: 8px;
  }

  &_10 {
    border-radius: 10px;
  }

  &_12 {
    border-radius: 12px;
  }

  &_16 {
    border-radius: var(--border-radius-16);
  }

  &_34 {
    border-radius: var(--border-radius-34);
  }

  &_max {
    border-radius: 999999px;
  }
}

.disabled {
  // opacity: 0.4;
  // background: grey;
  border: 1px solid transparent;
  background-color: #8080801f;

  // cursor: auto;
  cursor: not-allowed;
}

.size_s {
  font: var(--font-s);
}

.size_m {
  font-size: var(--font-size-m-button);
  line-height: var(--font-line-m-button);
}

// не будет работать fw
.size_l {
  font: var(--font-l);
}

// не будет работать fw
.size_xl {
  font: var(--font-xl);
}
