/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  width: 100%;
  position: relative;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.listBoxWrapper {
  // width: calc(100% - var(--padding-for-scroll));
  width: 80%;

  @media (max-width: 1100px) {
    width: 100%;

    // width: calc(100% - 20px);
  }
}

.cardModalPanel {
  max-height: 90%;
  overflow: hidden;
}

.cardModal {
  min-width: 100%;

  --padding-right: 20px;
  --padding-for-scroll: 5px;
}

.mainContentWrapper {
  padding-right: var(--padding-for-scroll);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--main-content-vertical-gap);
  min-width: 100%;
  padding-right: calc(var(--padding-right) - var(--padding-for-scroll));
  padding-left: var(--padding-right);
  overflow: auto;
  scroll-padding-bottom: 20px;
  scrollbar-gutter: stable;
}

.areaAndLabelWrapper {
  display: grid;
  gap: 4px;
  padding-bottom: 2px;
}

.emptySpace_top {
  height: var(--empty-space-top-height);
  width: 1200px;
}

.emptySpace_bottom {
  height: var(--empty-space-bottom-height);
}

.shadowAreaWrapper {
  position: relative;
  width: 100%;
  visibility: hidden;
}

.shadowArea {
  position: absolute;
}

.actions {
  width: 100%;
  padding-right: calc(var(--padding-right) + var(--scroll-bar-main-width));
  border-bottom-left-radius: var(--border-radius-main);
  border-bottom-right-radius: var(--border-radius-main);
  padding-left: var(--padding-right);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(211 209 255);
}
