.HeaderAdditionalBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.subscribeButton {
  max-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropDownTrigger {
  cursor: pointer;
  display: flex;
  align-items: center;

  // padding-right: 23px;
  padding: 6px 23px 6px 0;

  // min-height: 100%;
}
