.ShelfButtons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.button {
  font-weight: 300;

  // margin-left: 15px;
}

.tooltip {
  background-color: red;
  color: red;
}

.buttonIcon {
  padding: 0;
  margin: 0;
}

.arrow {
  // padding-left: 10px;
  padding-left: var(--padding-additional-from-collapse);
  transition: all 0.2s;
}

.trainButton {
  margin-left: var(--padding-additional-from-train-button);
}

.rotateArrow {
  transform: rotate(180deg);
}
