.ColumnSettingModal {
  // display: flex;
  min-width: 400px;

  // background-color: #f5f6fa;
  padding: 10px 40px;
}

.contentWrapper {
  padding-top: 20px;
  padding-bottom: 30px;
}

.rowsInCardWrapper {
  margin-top: 20px;
  padding: 12px 14px;
}

.rowsOptionTitle {
  padding-bottom: 8px;
  font-size: 15px;
}
