.ShelfTemplateSettings {
  position: relative;
  max-width: 1200px;
  border: green 1px solid;
  min-width: 600px;
}

.cardModal {
  // background: white;
  // padding: 20px 15px;
  padding-bottom: 40px;
  height: min(800px, 100%);
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.mainContent {
  padding-right: 20px;
  height: calc(500px);
  overflow: auto;
}

.actions {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  padding-bottom: 15px;
  padding-right: 50px;
  position: fixed;
  bottom: 0;
}
