.MyToastWithButton,
.MyToast {
  padding: 10px 20px 10px 15px;
  border-radius: var(--border-radius-main);
  min-width: 350px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  background-color: var(--toast-bg-rgb-9);
  // pointer-events: none; /* Позволяет кликам проходить через компонент */
}

.toast-component * {
  pointer-events: auto; /* Восстанавливает обработку событий мыши для дочерних элементов */
}

.MyToastWithButton {
  padding: 10px 20px 6px 15px;
  position: relative;
  overflow: hidden;
}

.progressBar {
  width: calc(100% + 35px);
  height: 6px;
  background: var(--cancel);
}

.button {
  padding: 5px 10px;
}

.title {
  // font-size: 10px;
  color: whitesmoke;
}

.description {
  // color: grey;
  color: #d2d2d2bf;
  font-size: 14px;
}

.content {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.pending_toast,
.error_toast,
.success_toast {
  // border-radius: var(--border-radius-main);
}

.pending_toast {
  border-left: 4px solid var(--accent);
}

.error_toast {
  border-left: 4px solid var(--cancel);
}

.success_toast {
  border-left: 4px solid var(--accent);
}

.pending {
  // border: 1px solid blue;
  fill: var(--accent);
}

.error {
  // border: 1px solid var(--cancel);
  fill: var(--cancel);
  color: var(--cancel);
}

.success {
  // border: 1px solid var(--accent);
  fill: var(--accent);
}
