.statsAndActionsViewPageWidget {
  justify-content: space-between;
  align-items: center;
  padding: var(--additional-padding-top-data-labels) 0;
}

.actions {
  padding-right: var(--padding-right-correction-info-icon);
}

.tableSettingButton {
  margin-right: var(--padding-right-correction-info-icon);
}
