.TrainingContent {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;

  // overflow: hidden;
}

.top {
  position: sticky;
  top: 0;
  height: var(--training-top-part);
}

.contentWrapper {
  // border: 1px solid red;
  height: 100%;
  overflow: auto;

  // padding-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 2px solid blue;

  // padding-bottom: 10px;

  // height: 90%;
}

.bottom {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding-top: 15px;

  // height: var(--training-bottom-part);
}

.answerButtons {
  display: flex;
  min-width: 100%;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

// .actions {
//   padding: 15px;
//   background: rgb(41 26 95 / 74.9%);
// }
