.HDialog {
  position: relative;
  z-index: var(--dialog-index);
  isolation: isolate;
  inset: 0;

  // position: fixed;
  // height: 100%;
  // width: 100%;

  // bottom: 0;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: var(--modal-index);
  // opacity: 0;
  // pointer-events: none;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: var(--dialog-overlay-index);
  background-color: rgb(81 81 81 / 50.7%);
  isolation: isolate;
}

.content {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--dialog-content-index);
  isolation: isolate;

  // padding: 20px 4px 20px 20px;
  // width: min(1200px, 80%);
  // background-color: var(--bg);
  // border-radius: 12px;
  // transform: scale(0.5);
  // transition: transform 0.3s;
}

.panel {
  border-radius: var(--border-radius-main);

  // border-radius: 12px;

  // max-height: 80%;
  // overflow: auto;
  // width: min-content;
}

.panelAbsolute {
  position: fixed;
  z-index: var(--dialog-content-index);
  isolation: isolate;
}

.panelBg {
  // background-color: #f5f6fa;
  background-color: var(--bg);
}

.panelPaddingMain {
  padding: 20px;
}

.panelMax {
  // padding: 20px 4px 20px 20px;
  width: min(1200px, 80%);
  background-color: var(--bg);
  border-radius: 12px;
}
