.viewPageInitializer {
  display: grid;
  gap: var(--gap-between-widgets-view-page);
  width: var(--width-view-page-initializer);
}

.statsAndActions {
  justify-content: space-between;
  align-items: center;
  padding: var(--additional-padding-top-data-labels) 0;
}

.tableSettingButton {
  margin-right: var(--padding-right-correction-info-icon);
}

.sortingWrapper {
  display: flex;
  align-items: center;
  min-width: 100%;
  height: var(--min-height-sorting-wrapper, 40);
}

.sortingSkeleton {
  min-width: 100%;
  height: var(--font-line-s);
}
