.viewPageInitializer {
  display: grid;
  gap: var(--gap-between-widgets-view-page);
  width: var(--width-view-page-initializer);
}

.statsAndActions {
  justify-content: space-between;
  align-items: center;
  padding: var(--additional-padding-top-data-labels) 0;
}

.tableSettingButton {
  height: calc(var(--font-line-m-button) + var(--padding-main-top-and-bottom) * 2 + 1px);
  margin-right: var(--padding-right-correction-info-icon);
  border-radius: var(--border-radius-main);
}
