.TimeSetterWithTitle,
.TimeSetter {
  background: white;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
  position: relative;
  border-radius: var(--border-radius-main);
  z-index: 100;
  width: fit-content;
  max-width: fit-content;
}

.TimeSetterWithTitle {
  padding: 10px 20px 20px;
}

.TimeSetter {
  padding: 20px;
}

.timeSetterTitle {
  padding-bottom: 10px;
}

.singleSettersColumnsWrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 16px;
  margin-bottom: 20px;
  z-index: 100;
}

// .line {
//   position: absolute;
//   height: 100%;
//   left: 50%;
//   width: 1px;
//   background-color: red;
// }
