.TimeSleepSettings {
  width: 700px;

  // max-height: 80%;
}

.detailsBlock {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 0;
}

.detailsBlock_last {
  justify-content: start;
}

.timeSleepCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 15px 15px 10px;
  min-height: 110px;
}

.inner {
  max-height: 320px;
  overflow: auto;
  padding-right: 40px;
}

.dayByDayActivator {
  display: flex;
  gap: 20px;
  align-items: start;
  min-width: 100%;
  justify-content: end;
}
