.cardModal {
  // background: white;
  // padding: 20px 15px;
  padding-bottom: 40px;
  height: min(800px, 100%);
  position: relative;
}

.mainWrapper {
  //   overflow-x: scroll;
  //   width: max-content;
  max-width: 100%;
}

.wrapper {
  // overflow-x: scroll;
  // width: max-content;
  // max-width: 1200px;
}

.title {
  font-size: 15px;
  color: rebeccapurple;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.mainContent {
  padding-right: 20px;
  height: calc(500px);
  overflow: auto;
}

.actions {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  padding-bottom: 15px;
  padding-right: 50px;
  position: fixed;
  bottom: 0;
}
