.app_light_theme {
  // redesigned
  --dark-bg: #fff;
  --bg: #fbfbfb;

  // --bg: #eff5f6;
  --light-bg: #e2eef1;
  --text: #141c1f;
  --hint: #adbcc0;
  --cancel: #f77;
  --save: #62de85;
  --icon: #5ed3f3;
  --accent: #33d69f;
  --accent-bg: #e6faf3;
  --wait-color: #ff8b57;
  --shelf-bg: #fcfcfc;
  --active-list-item-popover: rgb(128 128 128 / 9.2%);
  // data-labels
  --data-label-all: #33d69f;
  --data-label-train: #eb4b4b;
  --data-label-wait: #ff8b57;
  --data-label-text-color: #676872;
  --small-data-label-background-all: #e6faf3;
  --small-data-label-background-train: #fce9e9;
  --small-data-label-background-wait: #fff1ea;
  --small-data-label-color-all: #33d69f;
  --small-data-label-color-train: #eb4b4b;
  --small-data-label-color-wait: #ff8b57;

  // border
  --border-main: 1px solid var(--accent);
  --border-input: 1px solid var(--icon);
  --border-input-focus: 1px solid var(--accent);
  --border-success: 1px solid var(--save);
  --border-cancel: 1px solid var(--cancel);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card-bg
  --card-bg: #e0e0e0;

  // listBox
  --list-box-bg: #e0e0e0;
  --list-box-option-active: #04ff04;
}
