$colors: (
  "--text": #141c1f,
  "--hint": #adbcc0,
  "--text-header": #ffffffc7,
  "--save": #62de85,
  "--icon": #5ed3f3,
  "--accent": #33d69f,
  "--accent-bg": #e6faf3,
  "--wait-color": #ff8b57,
  "--cancel": #f77,
);

@function HexToRGB($hex) {
  @return red($hex) green($hex) blue($hex);
}

@function HexToRGBComas($hex) {
  @return red($hex), green($hex), blue($hex);
}

@function ccc($name, $opacity: false) {
  @return rgb(var(#{unquote($name)}));
}

.app_light_theme {
  @if $colors {
    @each $key, $value in $colors {
      // --color-#{$key}: #{$value};
      #{$key}-rgb: #{HexToRGB($value)};
    }

    @each $key, $value in $colors {
      // --color-#{$key}: #{$value};
      #{$key}: #{$value};
    }
  }

  // redesigned
  --dark-bg: #fff;
  --bg: #fbfbfb;
  --light-bg: #e2eef1;
  --shelf-bg: #fcfcfc;
  --delimiter-color: rgb(121 115 115 / 10%);

  // --body-bg-color: #f5f6fa;

  // --bg: #eff5f6;

  --cancel-rgb-2: rgb(var(--cancel-rgb) / 20%);
  --cancel-rgb-8: rgb(var(--cancel-rgb) / 80%);
  --accent-rgb-2: rgb(var(--accent-rgb) / 20%);
  --accent-rgb-8: rgb(var(--accent-rgb) / 80%);

  // --text: #141c1f;
  // --hint: #adbcc0;
  // --cancel: #f77;
  // --save: #62de85;
  // --icon: #5ed3f3;
  // --accent: #33d69f;
  // --accent-bg: #e6faf3;
  // --wait-color: #ff8b57;
  --active-list-item-popover: rgb(128 128 128 / 9.2%);
  --button-color-training-empty: #f5f6fa;
  --button-color-training-filled: blue;
  --create-edit-modals-bottom-buttons-bg: rgb(211 209 255);

  // data-labels
  --data-label-all: #33d69f;
  --data-label-train: #eb4b4b;
  --data-label-wait: #ff8b57;
  --data-label-text-color: #676872;
  --small-data-label-background-all: #e6faf3;
  --small-data-label-background-train: #fce9e9;
  --small-data-label-background-wait: #fff1ea;
  --small-data-label-color-all: #33d69f;
  --small-data-label-color-train: #eb4b4b;
  --small-data-label-color-wait: #ff8b57;

  // lexical-editor
  --toolbar-item-hover-color: rgb(var(--accent-rgb) / 20%);

  // border
  --border-main: 1px solid var(--accent);
  --border-input: 1px solid var(--accent);
  --border-input-focus: 1px solid var(--accent);
  --border-success: 1px solid var(--save);
  --border-cancel: 1px solid var(--cancel);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card-bg
  --card-bg: #e0e0e0;

  // listBox
  --list-box-bg: #e0e0e0;
  --list-box-option-active: #04ff04;
}
