.CommonShelfBoxes {
  display: flex;
  gap: 15px;
  padding: 15px 0 10px 10px;
}

.Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // gap: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
  position: relative;
}

.Box:first-of-type {
  justify-content: start;
}

.title {
  font-size: 13px;
  font-weight: 500;
  color: rgb(22 22 22 / 68.3%);
  margin-bottom: 15px;
}

.dataLabels {
  // gap: 16px;
  // justify-content: center;
  margin-bottom: 18px;
}

.buttonsBlock {
  margin-bottom: 18px;
}

.icon {
  border-radius: 9999px;

  // padding: 5px;
  // width: 20px;
  // height: 20px;

  &:hover {
    // background-color: rgb(128 128 128 / 12.6%);
    opacity: 0.6;
  }

  // stroke: none;
  // color: var(--accent);
  // fill: none;
}

.trainButton {
  width: 100%;

  // height: 30px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 5px 16px;
  border-radius: 0 0 4px 4px;
  font-size: 13px;

  // &:hover {
  //   opacity: 0.7;
  //   background-color: var(--accent);
  // }

  // position: absolute;
  // bottom: -15px;
}
