.item {
  display: flex;
  align-items: center;
  padding: 6px 16px;
}

.linkText {
  color: var(--text-header);
  margin-left: 10px;
  font-size: 14px;
}

.active {
  border-bottom: 2px solid var(--accent);

  // background: linear-gradient(89.97deg, rgb(29 89 255 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
  // position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 2px;
  //   left: 0;
  //   background: var(--accent);
  //   height: 100%;
  // }
}

.activeWhenCollapsed {
  // background: linear-gradient(89.97deg, rgb(29 89 255 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    left: 0;
    background: var(--accent);
    height: 100%;
  }
}
