.BoxesSettingsList {
  display: flex;
  align-items: center;
  // max-width: 1200px;

  // overflow-y: hidden;
  // width: 100%;
  // overflow-x: auto;

  // justify-content: center;
  border: 2px solid red;
  position: relative;

  // width: 100%;
  // max-width: 1200px;
  // overflow: auto;
  // z-index: 4;
  // isolation: isolate;

  // height: 700px;
  // gap: 20px;
}
