.MainDataLabelItem,
.BigDataLabel {
  display: grid;
  position: relative;
  grid-template-columns: min-content auto;
  background-color: var(--bg);
  min-width: var(--data-label-min-width);
  border-radius: var(--border-radius-main);
  box-shadow: var(--entities-box-shadow-main);
}

.all {
  background: var(--data-label-all);
}

.train {
  background: var(--data-label-train);
}

.wait {
  background: var(--data-label-wait);
}

.all_spinner {
  fill: var(--data-label-all);
}

.train_spinner {
  fill: var(--data-label-train);
}

.wait_spinner {
  fill: var(--data-label-wait);
}

.coloredLeftSide {
  width: 6px;
  border-radius: var(--border-radius-main) 0 0 var(--border-radius-main);
}

.dataHolder {
  display: flex;
  flex-direction: column;
  padding:
    var(--big-data-labels-data-holder-padding-top)
    var(--big-data-labels-data-holder-padding-right)
    var(--big-data-labels-data-holder-padding-bottom)
    var(--big-data-labels-data-holder-padding-left);
}

.cardsCounter {
  font-size: var(--big-data-labels-cards-counter-font-size);
  font-weight: 500;
  color:  var(--data-label-metric-value-color);
  // color: rgb(22 22 22 / 85.3%);
}

.labelName {
  font-size: var(--big-data-labels-label-name-font-size);
  font-weight: 400;
  color: var(--data-label-text-color);
  white-space: nowrap;
}

.percentValueWrapper {
  position: absolute;
  top: 5px;
  right: 5px;
}
