.profileRowData {
  // display: flex;
  // justify-content: space-between;
  display: grid;
  align-items: center;
  grid-template-columns: 300px 1fr auto;
  padding: 10px;
  position: relative;

  // padding-bottom: 30px;
  // padding-top: 30px;

  // padding-bottom: 10px; /* Отступ, чтобы учесть высоту границы */
  // background: linear-gradient(90deg, transparent 3%, rgb(128 128 128 / 15.8%), transparent 97%);
  // background-repeat: no-repeat;
  // background-size: 100% 1px; /* Ширина и высота границы */
  // background-position: bottom;
}

// .profileRowData:not(:last-of-type),
.profileRowData:not(:last-child), {
  background: linear-gradient(90deg, transparent 3%, rgb(128 128 128 / 15.8%), transparent 97%);

  // background: linear-gradient(90deg, transparent 3%, white);
  background-repeat: no-repeat;
  background-size: 100% 1px; /* Ширина и высота границы */
  background-position: bottom;
}

// .profileRowData::after {
//   content: "";
//   position: absolute;
//   bottom: -1px;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 50%;
//   height: 1px; /* Высота бордера */
//   background-color: rgb(0 0 0 / 8.6%); /* Цвет бордера */
// }

// .profileRowData:last-of-type::after {
//   width: 0;
//   height: 0;
// }

.title {
  font-size: 14px;
}
