.icon {
  transition: all 0.25s;
  width: var(--view-page-icon-button-size);
  height: var(--view-page-icon-button-size);
  flex-shrink: 0;
}

.removeIcon {
  border-radius: var(--border-radius-main);
  background-color: var(--cancel-rgb-2);
  border: 1px solid transparent;

  &:hover {
    opacity: 0.7;
  }

  // background-color: ccc(--cancel-rgb);

  // background-color: rgb(var(--cancel-rgb) / 30%);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.arrow {
  transition: all 0.2s;
}

.rotateArrow {
  transform: rotate(180deg);
}
