.MultiSelectScreen {
  position: absolute;
  inset: 0;
  width: 100%;
  height: var(--header-height);
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
}

.wrapper {
  display: flex;
  width: min(100%, 1200px);
  margin: 0 auto;

  // height: var(--header-height);
  // border: 1px solid red;
  justify-content: space-between;
}

.innerWrapper {
  display: flex;
  gap: 20px;
}
