.shelf {
  border-radius: var(--border-radius-shelf, 12px);
  box-shadow: var(--entities-box-shadow-main);

  // margin-bottom: 30px;
  margin-bottom: calc(var(--shelves-list-vertical-gap, 30px) + 2px);
  background-color: var(--bg);

  // background-color: var(--bg);
  padding: 10px var(--padding-shelf-right, 20px) 10px 15px;
}

.topShelfPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.commonWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.boxesWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.8s ease;
}

.setBoxesLeft {
  left: 0;
}

.substitute {
  position: relative;
  height: 191px;
}

.collapsed {
  grid-template-rows: 1fr;
}

.inner {
  overflow: hidden;
}
