.statsAndActionsCupboardWidget {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 40px;
  position: relative;
}

.info {
  margin-left: 3px;
}

.commonWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.actions {
  gap: 14px;
  padding-right: 23px;
}
