.statsAndActionsCupboardWidget {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 40px;
  position: relative;
}

.wrapper {
  display: flex;
  width: 520px;
  justify-content: space-between;
}

.ShelfButtons {
  display: flex;
  align-items: center;
  gap: 14px;

  // width: max-content;
}

.info {
  margin-left: 3px;
}

.commonWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.actions {
  gap: 14px;
  padding-right: 23px;
}
