.DayByDayHoursMinutesComponent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: flex-start;
  align-items: left;
  min-width: 100%;
  padding: 20px;

  // min-height: 110px;
}

.icon {
  transition: all 0.25s;
  width: var(--view-page-icon-button-size);
  height: var(--view-page-icon-button-size);

  // flex-shrink: 0;
}

.removeIcon {
  background-color: var(--cancel-rgb-2);
}

.eyeIcon {
  background-color: var(--accent-rgb-2);
}

// .DayByDayHoursMinutesComponent {
//   display: grid;
//   grid-template-columns: 30px 100px 100px;
//   column-gap: 30px;
//   justify-items: center;
//   align-items: center;
//   min-height: 110px;
// }

// .titles {
//   padding-left: 50px;
//   display: flex;
//   gap: 30px;
//   padding-bottom: 10px;
// }

.title {
  font-size: 15px;
  align-self: baseline;
  padding-bottom: 10px;
}

.dayWrapper {
  display: grid;
  grid-template-columns: 4% 1fr;
  align-items: center;

  // min-height: 100%;
  // max-width: 100%;
  // width: 100%;
}

// .dayWrapper {
//   justify-content: space-between;

//   // min-height: 100%;
//   max-width: 100%;
//   width: 100%;
// }

.periodsHolder {
  padding-left: 14px;
  border-left: 3px solid var(--accent-rgb-2);
}

.dayLabel {
  // font-size: 15px;
  // align-self: baseline;
  min-width: 5%;
}

// .dayWrapper {
//   display: flex;
//   align-items: center;
//   gap: 40px;
//   padding-bottom: 20px;
// }

// .DayByDayHoursMinutesComponent {
//   display: grid;
//   grid-template-columns: 100px 100px;
//   column-gap: 27px;
//   justify-items: center;
//   min-height: 110px;
// }

// .titles {
//   padding-left: 50px;
//   display: flex;
//   gap: 30px;
//   padding-bottom: 10px;
// }

// .title {
//   font-size: 15px;
// }

// .dayWrapper {
//   display: flex;
//   align-items: center;
//   gap: 40px;
//   padding-bottom: 20px;
// }
