.titles {
  padding-left: 50px;
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}

.title {
  font-size: 15px;
}

.dayWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 20px;
}
