.cupboardShelfList {
  transition: all 2s;
}

// .timeSetterTemplateHidden {
//   position: absolute;
//   z-index: -1;
//   left: -99999px;

//   // visibility: hidden;
// }

// .dropDownLocalTemplateHidden {
//   position: absolute;

//   // z-index: -1;
//   // left: -99999px;

//   // visibility: hidden;
// }

.commonWrapper {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  height: 100%;
}
