/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.cardModalPanel {
  // background: white;
  // padding: 20px 15px;
  // padding-bottom: 40px;
  // padding-left: 20px;
  // padding-top: 15px;
  padding-right: 5px;
  max-height: 90%;
  width: min(1200px, 80%);
  overflow: hidden;

  // max-height: 80%;
  // position: relative;
}

.cardModal {
  --padding-right: 20px;

  // background: white;
  // padding: 20px 15px;
  // padding-bottom: 40px;
  height: min(800px, 100%);

  // max-height: fit-content;

  // max-height: 80%;
  // position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  width: 100%;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.mainContent {
  padding-right: var(--padding-right);
  padding-left: var(--padding-right);

  // margin-bottom: 100px;

  // padding-top: var(--padding-right);

  // height: 80%;
  max-height: 100%;

  // height: 500px;
  overflow: auto;
}

.shelfAndBoxesWrapper {
  display: flex;
  min-width: 100%;
}

.emptySpace {
  // width: 120%;
  height: 15px;

  // background-color: red;
}

.listBoxWrapper {
  width: 80%;

  @media (max-width: 1100px) {
    width: 100%;

    // width: calc(100% - 20px);
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // break
  width: 100%;
  padding-right: calc(var(--padding-right) + var(--scroll-bar-main-width));
  border-bottom-left-radius: var(--border-radius-main);
  border-bottom-right-radius: var(--border-radius-main);
  padding-left: var(--padding-right);
  padding-top: 10px;
  padding-bottom: 10px;

  // padding-bottom: 15px;
  // padding-right: 50px;
  background-color: white;
}
