.SortControllerWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 calc(var(--card-list-item-padding-left-and-right) + var(--view-page-icon-button-size)) 0 var(--card-list-item-padding-left-and-right);
  user-select: none;

  // max-width: fit-content;
  // min-width: calc(100% - 32px);

  // border: 1px solid green;
}

.mainContentWrapper {
  width: 100%;

  // display: flex;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.mainContent {
  // width: 100%;
  // display: flex;
  // gap: 40px;

  // border: 1px solid green;
}

.arrow {
  transition: all 0.2s;

  // &:hover {
  //   transform: scale(2);
  // }
}

.rotateArrow {
  transform: rotate(180deg);

  // &:hover {
  //   transform: scale(2);
  // }
  // &:hover {
  //   transform: scale(1.6);
  // }
}

.wrapper {
  // all: unset;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.createdAtWrapper {
  // cursor: pointer;
  gap: 8px;
  width: 80px;

  // border: 1px solid red;
}

.createdAt {
  width: 80px;
}

.shelfWrapper {
  // cursor: pointer;
  justify-content: center;
  gap: 8px;

  // color: blue;
  width: 120px;

  // border: 1px solid blue;
  text-align: center;
}

.shelf {
  text-align: center;
}

.lastTrainingWrapper {
  min-width: 90px;
  max-width: 90px;

  // border: 1px solid orange;
}

.lastTraining {
  // color: orange;
  width: 90px;

  // border: 1px solid orange;
}
