.SortControllerWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding:
    0
    calc(var(--card-list-item-padding-left-and-right) + var(--view-page-icon-button-size))
    0
    var(--card-list-item-padding-left-and-right);
  user-select: none;

  // position: relative;
  min-height: var(--min-height-sorting-wrapper, 40);

  // max-width: fit-content;
  // min-width: calc(100% - 32px);

  // border: 1px solid green;
}

.mainContentWrapper {
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.mainContent {
  // width: 100%;
  // display: flex;
  // gap: 40px;

  // border: 1px solid green;
}

.arrow {
  transition: all 0.2s;
}

.rotateArrow {
  transform: rotate(180deg);

  // &:hover {
  //   transform: scale(2);
  // }
  // &:hover {
  //   transform: scale(1.6);
  // }
}

.wrapper {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.createdAtWrapper {
  width: var(--width-view-page-created-at-column);

  // border: 1px solid red;
}

.nextTrainingWrapper {
  width: var(--width-view-page-created-at-column);

  // border: 1px solid red;
}

.createdAt {
  width: var(--width-view-page-created-at-column);
}

.nextTraining {
  width: var(--width-view-page-created-at-column);
}

.shelfIdWrapper {
  max-width: var(--width-view-page-shelf-column);
  min-width: var(--width-view-page-shelf-column);
  text-align: center;

  // border: 1px solid blue;
}

.shelfId {
  // width: var(--width-view-page-shelf-column);
}

.absoluteParts {
  left: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 calc(var(--card-list-item-padding-left-and-right) + var(--view-page-icon-button-size)) 0 var(--card-list-item-padding-left-and-right);
}

.shelf {
  text-align: center;
}

.lastTrainingWrapper {
  min-width: var(--width-view-page-last-training-at-column);
  max-width: var(--width-view-page-last-training-at-column);

  // border: 1px solid orange;
}

.lastTraining {
  // color: orange;
  width: var(--width-view-page-last-training-at-column);

  // border: 1px solid orange;
}

.sortingSkeleton {
  min-width: 100%;
}
