.NotificationSettings {
  min-width: 700px;

  // width: min(100%, 800px);
}

.notificationBlock{

}

.deviceSubscription {
  padding: 8px;
  display: flex;
  gap: 20px;
  align-items: start;
  justify-content: end;
}

.detailsBlock {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 0;
}

// .detailsBlock_last {
//   justify-content: start;
//   padding-top: 0;
// }

.notificationCard {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
}
