.Page {
  flex-grow: 1;
  flex-shrink: 1;
  padding: var(--padding-page);

  // height: 100vh;

  height: calc(100vh - var(--header-height));
  overflow: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;

  // border: 1px solid blue;

  // scrollbar-color: red;

  // transition: all 2s;

  // width: min(100%, 1200px);
  // margin: 0 auto;

  // overflow-y: auto;
}

.wrapper {
  // max-width: 1200px;
  width: min(100%, 1200px);
  margin: 0 auto;

  // transition: all 2s;
}

.toastViewport {
  display: grid;
  gap: 20px;
  position: fixed;
  bottom: 0;
  grid-auto-flow: revert;
  right: 0;
  z-index: 99999;
  padding: 25px;
}

.trigger {
  height: 10px;

  // width: 100px;
  // background-color: red;
  margin: 10px;
}
