.Page {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 20px;
  height: calc(100vh - var(--header-height));
  overflow: auto;
  scrollbar-gutter: stable;

  // transition: all 2s;

  // width: min(100%, 1200px);
  // margin: 0 auto;

  // overflow-y: auto;
}

.wrapper {
  // max-width: 1200px;
  width: min(100%, 1200px);
  margin: 0 auto;

  // transition: all 2s;
}

.trigger {
  height: 10px;

  // width: 100px;
  // background-color: red;
  margin: 10px;
}
