.wrapper {
  width: min(1200px, 100%);

  // max-width: 100%;
  white-space: nowrap;

  // border: 1px solid var(--accent);
  // border-radius: 8px;
  overflow-x: scroll;
  perspective: 150px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid blue;

  // margin-right: 15rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.BoxesSettingsList {
  display: flex;
  align-items: center;

  // justify-content: center;
  padding: 20px;
  margin: 0 auto;

  // overflow-y: scroll;

  // justify-content: center;
  // border: 1px solid red;
  position: relative;
  width: 100%;

  // max-width: 1200px;

  // overflow: auto;
  // z-index: 4;
  // isolation: isolate;

  // height: 700px;
  // gap: 20px;
}
