.Icon {
  transition: 0.3s;
}

.main {
  fill: var(--accent);
  color: var(--accent);
}

.hint {
  fill: var(--hint);
  color: var(--hint);

  &:hover {
    fill: var(--accent);
    color: var(--accent);
  }
}

.disabled {
  fill: var(--hint);
  color: var(--hint);
}

.cancel {
  fill: var(--cancel);
  color: var(--cancel);
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.button:hover .Icon {
  color: var(--accent);
}

.button:hover .disabled {
  color: var(--hint);
}
