.Icon {
  transition: 0.3s;
}

.main_fill {
  fill: var(--accent);
}

.main {
  color: var(--accent);
}

.hint_fill {
  fill: var(--hint);
}

.hint {
  color: var(--hint);

  &:hover {
    // fill: var(--accent);
    // color: var(--accent);
  }
}

.disabled_fill {
  fill: var(--hint);
}

.disabled {
  color: var(--hint);
}

.cancel_fill {
  fill: var(--cancel);
}

.cancel {
  color: var(--cancel);
}

.button {
  // all: unset;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover .Icon {
  // color: var(--accent);
}

.button:hover .disabled {
  color: var(--hint);
}
