.header {
  // background: rgb(57 57 57 / 58.8%);
  background: #141e30;  /* fallback for old browsers */
  background: linear-gradient(to right, #243b55, #141e30);  /* Chrome 10-25, Safari 5.1-6 */
  position: sticky;
  top: 0;
}

.items {
  max-width: 1200px;

  // width: min(1200px, 100%);
  margin: 0 auto;
}

// .collapsed {
//   width: var(--sidebar-width-collapsed);

//   .switchers {
//     flex-direction: column;
//     align-items: center;
//   }

//   .lang {
//     margin-left: 0;
//   }
// }

// .SidebarRedesigned {
//   background: var(--light-bg);
//   width: 220px;
//   height: 100%;
//   position: relative;
//   overflow: hidden;
//   border-radius: var(--border-radius);

//   .appLogo {
//     padding-top: 20px;
//   }

//   .items {
//     margin-top: 40px;
//   }

//   .collapseBtn {
//     position: absolute;
//     right: 0;
//     top: 50%;
//     z-index: 10;
//     transform: rotate(90deg);
//   }

//   .switchers {
//     position: absolute;
//     bottom: 40px;
//     display: flex;
//     justify-content: center;
//     width: 100%;
//     gap: 16px;
//   }
// }

// .collapsedRedesigned {
//   width: 50px;
//   justify-self: left;

//   .switchers {
//     flex-direction: column;
//     align-items: center;
//   }

//   .items {
//     display: flex;
//     align-items: center;

//     span {
//       display: none;
//     }
//   }

//   .lang {
//     margin-left: 0;
//   }

//   .collapseBtn {
//     transform: rotate(-90deg);
//     left: 11px;
//   }
// }
