.Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // gap: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
  position: relative;
}

.Box:first-of-type {
  justify-content: start;
}

.title {
  font-size: 13px;
  font-weight: 500;
  color: rgb(22 22 22 / 68.3%);
  margin-bottom: 15px;
}

.dataLabels {
  // gap: 16px;
  // justify-content: center;
  margin-bottom: 18px;
}

.buttonsBlock {
  margin-bottom: 18px;
}

.timeSetter {
  position: absolute;
  z-index: 100;
}

.timing {
  font-size: 12px;
  color: rgb(22 22 22 / 85.3%);
  margin-bottom: 8px;
}

.icon {
  border-radius: 9999px;

  // padding: 5px;
  // width: 20px;
  // height: 20px;

  &:hover {
    // background-color: rgb(128 128 128 / 12.6%);
    opacity: 0.6;
  }

  // stroke: none;
  // color: var(--accent);
  // fill: none;
}
