.changeNameModal {
  width: 400px;
}

.title {
  font-size: 16px;
  padding-bottom: 20px;
}

.input {
  margin-bottom: 40px;
}

.passwordContent {
  padding-bottom: 40px;
}

.showPasswordText {
  font-size: 13px;
  cursor: pointer;
}

.forgetPassword {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

.emailChangedTitle {
  padding-bottom: 15px;
}

.emilChangedText {
  font-size: 13px;
  padding-bottom: 14px;
}

.inputError {
  margin-bottom: 11px;
}

.enterPasswordBlock {
  // padding-bottom: 40px;
}
