.MoveCardsModal {
  max-width: 400px;
}

.modalTitle {
  padding-bottom: 10px;
}

.modalDescription {
  font-size: 15px;
  padding-bottom: 20px;
  max-width: 400px;
  margin: auto;
}

.listBoxWrapper {
  padding-bottom: 20px;
  max-width: 400px;
  margin: auto;
}

.mainWrapper {
  padding-bottom: 40px;
}

.actions {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // width: 100%;
}
