.HeaderAdditionalBlock {
  // width: min(100%, 1200px);
  width: min(100%, calc(1200px + var(--nav-padding) + var(--nav-bar-item-min-width)));
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.subscribeButton {
  max-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropDownTrigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  // padding-right: 23px;
  padding: 6px 15px 6px 0;

  // min-height: 100%;
}
