.cardModal {
  // background: white;
  // padding: 20px 15px;
  // padding-bottom: 40px;

  // height: min(800px, 100%);
  position: relative;
}

.content {
  padding-bottom: 20px;
  max-width: 400px;
}

.heading {
  padding-bottom: 10px;

  // max-width: 400px;
}

.mainContent {
  padding-right: 20px;

  // min-height: calc(500px);
  overflow: auto;
}

.actions {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  padding-bottom: 15px;
  padding-right: 50px;
  position: fixed;
  bottom: 0;
}
