/* stylelint-disable value-no-vendor-prefix */
.item {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.CardListItem {
  border-radius: 4px;
  background-color: var(--bg);

  // box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  padding: 8px 14px;
  align-items: center;
  display: flex;
  gap: 40px;
  max-width: fit-content;
  min-width: calc(100% - 32px);
  border: 1px solid transparent;
}

.CardListItemSelected {
  box-shadow: 0 0 1px 2px rgb(51 214 159 / 20%);
  border: 1px solid var(--accent);
}

.icons {
  // justify-self: end;
  margin: 0 0 0 auto;
}

.trashIcon {
  fill: none;
}

.mainContentWrapper {
  width: 100%;
  display: flex;
  gap: 40px;
}

.mainContent {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: var(--view-rows);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.createdAt {
  // color: red;
  width: 80px;

  // border: 1px solid red;
}

.shelf {
  // color: blue;
  width: 120px;

  //  display: -webkit-box;
  // -webkit-line-clamp: var(--view-rows);
  // -webkit-box-orient: vertical;
  overflow: hidden;

  // border: 1px solid blue;
}

.lastTraining {
  // color: orange;
  width: 88px;

  // border: 1px solid orange;
}

// .mainContent {
//   width: 20%;
//   display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
// }
