/* stylelint-disable value-no-vendor-prefix */
.item {
  display: flex;
  gap: 20px;
  cursor: pointer;
  position: relative;
  margin-bottom: var(--card-list-item-li-margin-bottom);
  border-radius: var(--border-radius-main);

  // z-index: 1;

  // border: 1px solid red;
}

.cardCollapse:last-child {
  margin-bottom: 400px;
}

.isCardSelected {
  // border: 1px solid red;
  box-shadow: 0 0 4px 2px var(--accent-rgb-2), 0 0 1px 1px var(--accent-rgb-8);
}

.checkBox {
  position: absolute;
  left: -30px;
  top: calc(50% - var(--checkbox-size) / 2);
}

.cardEditedLabel {
  position: absolute;

  // left: -5px;
  // top: -5px;

  // padding: 6px 12px;

  left: 0;
  top: 0;

  // border-radius: 9999px;
  // width: 16px;
  // height: 16px;
  // background-color: var(--accent);
}

.innerLabel {
  height: 200px;
  width: 10px;

  // padding: var(--card-list-item-padding-top-and-bottom) var(--card-list-item-padding-left-and-right);

  background-color: var(--accent);

  // border-top: 10px solid var(--accent);
  // border-bottom: 10px solid var(--accent);
  // border-left: 10px solid var(--accent);
  // border-radius: var(--border-radius-main);
}

// .cardEditedLabel {
//   position: absolute;
//   left: -5px;
//   top: -5px;

//   // padding: 6px 12px;

//   // left: 0px;
//   // top: 0px;
//   border-radius: 9999px;
//   width: 16px;
//   height: 16px;
//   background-color: var(--accent);
// }

.CardListItem {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-width: 100%;
  padding: var(--card-list-item-padding-top-and-bottom) var(--card-list-item-padding-left-and-right);
  background-color: var(--bg);
  box-shadow: var(--entities-box-shadow-main);
  border-radius: var(--border-radius-main);
}

.content {
  width: 100%;
  align-items: center;
  display: flex;
  gap: 40px;
}

.columns {
  padding: 8px 14px;
  align-items: center;
  display: flex;
  gap: 40px;
}

.CardListItemSelected {
  box-shadow: 0 0 1px 2px rgb(51 214 159 / 20%);
  border: 1px solid var(--accent);
}

.icons {
  // justify-self: end;
  margin: 0 0 0 auto;
}

.icon {
  transition: all 0.25s;
  width: var(--view-page-icon-button-size);
  height: var(--view-page-icon-button-size);
  flex-shrink: 0;
}

.removeIcon {
  border-radius: var(--border-radius-main);
  background-color: var(--cancel-rgb-2);
  border: 1px solid transparent;

  &:hover {
    opacity: 0.7;
  }

  // background-color: ccc(--cancel-rgb);

  // background-color: rgb(var(--cancel-rgb) / 30%);
}

.trashIcon {
  fill: none;
}

.mainContentWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  height: calc(var(--view-rows) * var(--font-line-m));
  overflow: hidden;
}

// .mainContentWrapper {
//   width: 100%;
//   display: flex;
//   gap: 40px;
// }

.mainContent {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: var(--view-rows);
  -webkit-box-orient: vertical;
  overflow: hidden;

  // border: 1px solid red;
}

.createdAt {
  min-width: 80px;
  max-width: 80px;
  padding-left: 5px;

  // border: 1px solid red;
}

.shelf {
  // color: blue;
  width: 120px;

  //  display: -webkit-box;
  // -webkit-line-clamp: var(--view-rows);
  // -webkit-box-orient: vertical;
  overflow: hidden;

  // border: 1px solid blue;
}

.lastTraining {
  // color: orange;
  min-width: 90px;
  max-width: 90px;
  padding-left: 8px;

  // border: 1px solid orange;
}

// .mainContent {
//   width: 20%;
//   display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
// }
// /* stylelint-disable value-no-vendor-prefix */
// .item {
//   display: flex;
//   gap: 20px;
//   cursor: pointer;
//   position: relative;
//   margin-bottom: 8px;

//   // z-index: 1;

//   // border: 1px solid red;
// }

// .checkBox {
//   position: absolute;
//   left: -30px;
//   top: calc(50% - var(--checkbox-size)/2);

//   // z-index: 5;
// }

// .CardListItem {
//   border-radius: 4px;
//   background-color: var(--bg);
//   box-shadow: 0 1px 4px rgb(0 0 0 / 10%);

//   // box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
//   padding: 8px 14px;
//   align-items: center;
//   display: flex;
//   gap: 40px;

//   // max-width: fit-content;
//   // min-width: calc(100% - 32px);
//   // border: 0px solid transparent;
// }
// .content{

// }
// .columns {
//   padding: 8px 14px;
//   align-items: center;
//   display: flex;
//   gap: 40px;
// }

// .CardListItemSelected {
//   box-shadow: 0 0 1px 2px rgb(51 214 159 / 20%);
//   border: 1px solid var(--accent);
// }

// .icons {
//   // justify-self: end;
//   margin: 0 0 0 auto;
// }

// .trashIcon {
//   fill: none;
// }

// .mainContentWrapper {
//   width: 100%;
//   display: flex;
//   gap: 40px;
// }

// .mainContent {
//   width: 100%;
//   display: -webkit-box;
//   -webkit-line-clamp: var(--view-rows);
//   -webkit-box-orient: vertical;
//   overflow: hidden;

//   // border: 1px solid red;
// }

// .createdAt {
//   min-width: 80px;
//   max-width: 80px;
//   padding-left: 5px;

//   // border: 1px solid red;
// }

// .shelf {
//   // color: blue;
//   width: 120px;

//   //  display: -webkit-box;
//   // -webkit-line-clamp: var(--view-rows);
//   // -webkit-box-orient: vertical;
//   overflow: hidden;

//   // border: 1px solid blue;
// }

// .lastTraining {
//   // color: orange;
//   min-width: 90px;
//   max-width: 90px;
//   padding-left: 8px;

//   // border: 1px solid orange;
// }

// // .mainContent {
// //   width: 20%;
// //   display: -webkit-box;
// //   -webkit-line-clamp: 2;
// //   -webkit-box-orient: vertical;
// //   overflow: hidden;
// // }
