.primary {
  color: var(--text);
}

.error {
  color: var(--red-light);
}

.accent {
  color: var(--accent);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_xs {
  line-height: var(--font-line-s);
  font-size: 14px;
}

.size_s {
  font: var(--font-m);
}

.size_m {
  // font: var(--font-l-header);
  font: var(--font-l);
}

.size_l {
  // font: var(--font-xl-header);
  font: var(--font-xl);
}

.size_xl {
  font: var(--font-xxl-header);

  // font: var(--font-xx);
}

.bold {
  font-weight: 700;
}

.saveOriginal {
  white-space: pre-wrap;
}
