.shelf {
  border-radius: var(--border-radius-shelf, 12px);
  box-shadow: var(--entities-box-shadow-main);
  margin-bottom: var(--shelves-list-vertical-gap, 30px);
  background-color: var(--bg);

  // background-color: var(--bg);
  padding: var(--padding-shelf-top-and-bottom, 20px) var(--padding-shelf-right, 20px)  var(--padding-shelf-top-and-bottom, 20px) 15px;

  // padding: 10px var(--padding-shelf-right, 20px) 10px 15px;
  // padding: 16px var(--padding-shelf-right, 20px) 16px 15px;
  position: relative;
}

.shelfWrapper {
  position: relative;
}

.dragIcon {
  position: absolute;
  left: -40px;
}

.handle {
  display: flex;
  align-items: center;
  width: 40px;
  height: 100%;
  position: absolute;
  left: -20px;
  top: 0;

  // top: calc(50% - 20px);
  // background-color: red;
  // cursor: grab;
  z-index: 2;
  isolation: isolate;
}

.handle2 {
  width: 600px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: transparent;

  // background-color: green;
  cursor: pointer;
  z-index: 1;
}

.titleSkeleton {
  margin: 2px 0;
}

.topShelfPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 44px;
}

.smallDataLabelsWrapper {
  // display: flex;
  margin-top: 20px;
}

.shelfTitleContainer {
  border: 4px solid var(--body-bg-color);
  position: absolute;
  left: 20px;
  top: -20px;
  background-color: var(--bg);
  width: 150px;

  // box-shadow: var(--entities-box-shadow-main);
  border-radius: 999px;
  padding: 6px 20px;
  display: flex;
  justify-content: center;
}

.bottomBoxesWrapper {
  // overflow: auto;
  // clip-path: inset(0);
}

.boxesWrapper {
  display: grid;

  // overflow: hidden;

  // grid-template-rows: 0fr;
  // transform: translateY(-300px);
  transition: grid-template-rows 0.3s ease;

  // overflow: hidden;
}

.notCollapsed {
  grid-template-rows: 1fr;
}

.collapsed {
  grid-template-rows: 0fr;

  // transform: translateY(-30000px);
}

.collapsed .inner {
  overflow: hidden;

  // animation: overflow-changer-back 0.3s ease;
}

.notCollapsed .inner {
  // overflow: hidden;

  // animation: overflow-changer-back 0.3 ease;

  animation: overflow-changer 0.3s ease;

  // animation: overflow-changer 0.3s ease normal forwards;
}

@keyframes overflow-changer {
  0% {
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    overflow: initial;
  }
}

@keyframes overflow-changer-back {
  0% {
    overflow: initial;
  }

  99% {
    overflow: initial;
  }

  100% {
    overflow: hidden;
  }
}
