.circle {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  cursor: pointer;

  // background-color: var(--accent);
  // border: 3px solid var(--accent);
  position: relative;
}

.lineX,
.lineY {
  position: absolute;
  inset: 0;
}

.lineX {
  // background-color: white;
  background-color: var(--accent);

  // border: 1px solid green;
  top: 13px;
  height: 4px;
  width: 30px;
}

.lineY {
  // background-color: white;
  background-color: var(--accent);
  height: 30px;
  left: 13px;
  width: 4px;
}
