.shelvesListViewWidget {
  // display: flex;
  // gap: 20px;
  // align-items: center;
  min-height: 32px;
  position: relative;
  user-select: none;
}

.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;

  // width: max-content;

  position: relative;
}

.listIcon {
  min-width: 32px;
  min-height: 32px;
}

.shelfItems {
  left: 0;
}
