/* stylelint-disable declaration-block-no-shorthand-property-overrides */
.tabs__container {
  // height: 100%;
  width: 100%;

  // display: grid;
  // place-items: center center;
  color: var(--accent);
  font-size: 15px;
  font-weight: 300;
  position: relative;
}

.gradientEdgeLeft,
.gradientEdgeRight {
  position: absolute;
  width: 180px;
  height: 100%;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.gradientEdgeLeft {
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: linear-gradient(-90deg, transparent 15%, var(--body-bg-color));
}

.gradientEdgeRight {
  right: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: linear-gradient(90deg, transparent 15%, var(--body-bg-color));
}

.tabs {
  max-width: 100%;
  white-space: nowrap;

  // scroll-behavior: smooth;
  // border: 1px solid var(--accent);
  // border-radius: 8px;
  overflow-x: scroll;

  // perspective: 150px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  // margin-right: 15rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tabItem {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 6px 16px;
  border-right: 1px solid var(--accent);
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);

  // border-right: 1px solid var(--accent);
  transition: all 0.3s;

  // word-wrap: ;
  white-space: nowrap;

  &:hover {
    background-color: var(--accent);
    color: var(--shelf-bg);
  }
}

.tabItem:last-child {
  border-right: none;

  // margin-right: 15rem;
}

.tabItem:first-of-type {
  border-left: 1px solid var(--accent);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.tabItem:last-of-type {
  border-right: 1px solid var(--accent);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.shouldBeScrollable:last-of-type {
  margin-right: 15rem;
}

.selectedItem {
  background-color: var(--accent);
  color: var(--shelf-bg);

  // padding: var(--padding-main);
}

// .tabActive {
//   background-color: var(--inverted-bg-color);
// }
// .Tabs {
//   display: flex;
//   align-items: center;
//   border: 1px solid var(--accent);
//   border-radius: 8px;
//   width: fit-content;
//   color: var(--accent);
//   font-size: 15px;
//   font-weight: 300;
//   overflow: hidden;
// }

// .tabItem {
//   cursor: pointer;
//   padding: 6px 16px;
//   border-right: 1px solid var(--accent);
//   transition: all 0.3s;

//   // word-wrap: ;
//   white-space: nowrap;

//   &:hover {
//     background-color: var(--accent);
//     color: var(--shelf-bg);
//   }
// }

// .tabItem:last-child {
//   border-right: none;
// }

// .selectedItem {
//   background-color: var(--accent);
//   color: var(--shelf-bg);

//   // padding: var(--padding-main);
// }

// // .tabActive {
// //   background-color: var(--inverted-bg-color);
// // }
