.ListBox {
  position: relative;
}

.trigger {
  all: unset;
}

.listBoxItemWrapper {
  background: white;
  padding: 4px 4px 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  max-width: 70%;
  background-color: var(--dark-bg);
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  cursor: pointer;

  // box-shadow: 5px 6px 18px -2px rgb(0 0 0 / 81%);
}

.arrow {
  transition: all 0.2s;
}

.rotateArrow {
  transform: rotate(180deg);
}

.textDisabled {
  opacity: var(--opacity-disabled);
}

.hideOptions {
  // opacity: 0;
  pointer-events: none;
  display: none;
}

.ListBoxListOptionsWrapper {
  // padding-right: 5px;
  position: absolute;
  z-index: 10001;
  background-color: var(--dark-bg);
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  max-width: 70%;
  overflow: hidden;
  padding-right: 10px;
}

.ListBoxListOptions {
  min-width: fit-content;
  max-height: 200px;
  overflow-y: auto;

  // &::-webkit-scrollbar-thumb {
  //   /* Укажи цвет скроллбара */
  //   background: #e42e3a;

  //   /* Укажи радиус скругления скроллбара */
  //   border-radius: 10px;
  // }

  // &::-webkit-scrollbar {
  //   /* Укажи ширину вертикального скроллбара */
  //   width: 5px;
  //   // margin-right: 20px;

  //   /* Укажи высоту горизонтального скроллбара */
  //   // height: 5px;

  //   /* Укажи цвет фона под скроллбаром */
  //   // background: #000;
  // }
}

// .ListBoxListOptions::-webkit-scrollbar {
//   width: 5px;
// }

// .ListBoxListOptions::-webkit-scrollbar-thumb {
//   // background-color: rgb(128 128 128 / 29.2%);
//   border-radius: 18px;

//   // border: none;

//   // padding: 20px;
//   // margin: 20px;
// }

// .ListBoxOption_active ,
.ListBoxOption {
  padding: 8px 16px;
  white-space: nowrap;
  cursor: pointer;
}

.ListBoxOption_disabled {
  opacity: 0.4;
  text-decoration: line-through;
}

.ListBoxOption_active:not(.ListBoxOption_selected) {
  opacity: 0.5;
}

// activeItem
.ListBoxOption_selected {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: var(--active-list-item-popover);
}

.iconCheck {
  width: 20px;
  height: 20px;
  margin-left: auto;
}
