.Card {
  border-radius: 4px;
  background-color: var(--bg);

  // box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  box-shadow: var(--entities-box-shadow-main);
}

.isLoading {
  opacity: 0.8;
  cursor: wait;
}

.pointer {
  cursor: pointer;
}

.horizontal {
  display: flex;
}

.withoutPadding {
  padding: 0;
}

.normal {
  // background-color: var(--dark-bg);
}

.outlined {
  border: 1px solid var(--accent);
}

.light {
  background-color: var(--light-bg);
}

.max {
  width: 100%;
}

.padding_0 {
  padding: 0;
}

.padding_4 {
  padding: 4px;
}

.padding_8 {
  padding: 8px;
}

.padding_10 {
  padding: 10px;
}

.padding_12 {
  padding: 12px;
}

.padding_14 {
  padding: 14px;
}

.padding_16 {
  padding: 16px;
}

.padding_28 {
  padding: 28px;
}

.padding_20 {
  padding: 20px;
}

.padding_22 {
  padding: 22px;
}

.padding_24 {
  padding: 24px;
}
