.ShelfItem {
  display: flex;
  align-items: center;
  gap: 40px;
  min-width: 100%;
  padding: var(--card-list-item-padding-top-and-bottom) var(--card-list-item-padding-left-and-right);
  background-color: var(--bg);
  box-shadow: var(--entities-box-shadow-main);
  border-radius: var(--border-radius-main);

  // border: 1px solid red;
}

.item {
  display: flex;
  gap: 20px;
  cursor: pointer;
  position: relative;
  margin-bottom: 8px;

  // z-index: 1;

  // border: 1px solid red;
}

.title {
  font-size: 15px;
  width: 340px;

  // font: var(--font-m);
}

.checkBox {
  position: absolute;
  left: -30px;
  top: calc(50% - var(--checkbox-size) / 2);

  // z-index: 5;
}

.icon {
  transition: all 0.25s;
  width: var(--view-page-icon-button-size);
  height: var(--view-page-icon-button-size);
  flex-shrink: 0;
}

.removeIcon {
  border-radius: var(--border-radius-main);
  background-color: var(--cancel-rgb-2);
  border: 1px solid transparent;

  &:hover {
    opacity: 0.7;
  }

  // background-color: ccc(--cancel-rgb);

  // background-color: rgb(var(--cancel-rgb) / 30%);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.arrow {
  transition: all 0.2s;
}

.rotateArrow {
  transform: rotate(180deg);
}

.boxListWrapper {
  padding-top: 8px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
