.CardDeleting {

}

.item {
  margin-bottom: var(--card-list-item-li-margin-bottom);
  border-radius: var(--border-radius-main);
}

.CardListItem {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-width: 100%;
  padding: var(--card-list-item-padding-top-and-bottom) var(--card-list-item-padding-left-and-right);
  border-radius: var(--border-radius-main);
}

.mainContentWrapper {
  min-width: 100%;
  display: flex;
  align-items: center;

  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // place-content: center;
  justify-content: space-between;
  gap: 40px;
  height: calc(var(--view-rows) * var(--font-line-m));
  overflow: hidden;
}

.buttonAndProgressBar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.description {
  padding-left: 30px;
  font-size: 14px;
  color: rgb(128 128 128 / 45.6%);
}

.button {
  max-height: 35px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
