.ShelvesPresenter {
  // border: 1px solid olivedrab;
}

.shelfListWrapper {
  position: relative;
}

.absolute {
  left: 0;
  min-width: 100%;
}

.shelvesPresenterLabelsWrapper {
  min-height: 20px;
}

.labelsListWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.labelsListButtonsBlock {
  opacity: 0;
}
