.primary {
  color: var(--text);

  &:hover {
    color: var(--accent);
  }
}

.red {
  color: var(--cancel);

  &:hover {
    opacity: 0.8;
  }
}

.accent {
  color: var(--accent);

  &:hover {
    opacity: 0.8;
  }
}
