.ShelfDeleting {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 15px;

  // VAR: вот тут время удаления анимациии DURATION_SHELF_DELETION_MILLISEC
  animation: shrink-height 500ms ease 7900ms normal forwards;
}

@keyframes shrink-height {
  0% {
    opacity: 1;
    height: 76px;
    padding: 10px 20px 10px 15px;
    margin-bottom: 30px;
    transform: translateY(0);
  }

  1% {
    opacity: 0;
  }

  100% {
    transform: translateY(-706px);
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}

.title {
  font-weight: 600;
}

.description {
  font-size: 14px;
  color: rgb(128 128 128 / 45.6%);
}

.button {
  max-height: 35px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
