.Dropdown {
  position: relative;
  width: fit-content;
}

.trigger {
  all: unset;
  cursor: pointer;
}

.menu {
  background-color: var(--dark-bg);
  position: absolute;
  z-index: 10001;
  min-width: fit-content;
  overflow: hidden;
  border-radius: 4px;

  // border-radius: var(--border-radius);
  // border: var(--border-main);
  // box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  // box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.menuItem {
  padding: 10px 16px;
  border: none;
  background-color: none;
  outline: none;
  width: 100%;
  color: var(--text);
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 300;
}

.menuItem:first-of-type {
  padding-top: 20px;
}

.menuItem:last-of-type {
  // padding-bottom: 20px;
}

.active {
  // background-color: var(--active-list-item-popover);
  opacity: 0.6;
}

.disabled {
  opacity: 0.4;
}
