.Dropdown {
  position: relative;
  width: fit-content;
}

.trigger {
  all: unset;
  cursor: pointer;
}

.menu {
  background-color: var(--dark-bg);
  position: absolute;
  z-index: 10001;
  min-width: fit-content;
  overflow: hidden;
  border-radius: 4px;

  // border-radius: var(--border-radius);
  // border: var(--border-main);
  // box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  // юзал тень ниже
  box-shadow: rgb(0 0 0 / 10%) 0 10px 20px, rgb(0 0 0 / 10%) 0 6px 6px;

  // box-shadow: 0 1px 4px rgb(0 0 0 / 10%);

  // box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.menuItem {
  padding: 10px 16px;
  border: none;
  background-color: none;
  outline: none;
  width: 100%;
  color: var(--text);
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 300;
}

// .menuItem:last-child {
//   background: linear-gradient(90deg, transparent 3%, rgb(128 128 128 / 15.8%), transparent 97%);
//   background-repeat: no-repeat;
//   background-size: 100% 1px; /* Ширина и высота границы */
//   background-position: top;
// }

.menuItem:first-of-type {
  padding-top: 20px;
}

.menuItem:last-of-type {
  // padding-bottom: 20px;
}

.active {
  // background-color: var(--active-list-item-popover);
  opacity: 0.6;
}

.disabled {
  opacity: 0.4;
}
