.Dropdown {
  position: relative;
  width: fit-content;
}

.trigger {
  all: unset;
  cursor: pointer;
}

.menu {
  background-color: var(--dark-bg);
  position: absolute;
  z-index: var(--drop-down-menu-index);
  min-width: fit-content;
  overflow: hidden;
  border-radius: var(--border-radius-main);
  user-select: none;

  // border-radius: var(--border-radius);

  // юзал тень ниже
  box-shadow: rgb(0 0 0 / 10%) 0 10px 20px, rgb(0 0 0 / 10%) 0 6px 6px;
}

.menu[data-headlessui-state="open"] {
  box-shadow: 0 0 5px 3px var(--accent-rgb-2), 0 0 1px 1px var(--accent-rgb-8);
}

.menuItem {
  padding: 10px 16px;
  border: none;
  background-color: none;
  outline: none;
  width: 100%;
  color: var(--text);
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 300;
}

// .menuItem:last-child {
//   background: linear-gradient(90deg, transparent 3%, rgb(128 128 128 / 15.8%), transparent 97%);
//   background-repeat: no-repeat;
//   background-size: 100% 1px; /* Ширина и высота границы */
//   background-position: top;
// }

.menuItem:first-of-type {
  padding-top: 20px;
}

.lastItemPadding {
  padding-bottom: 16px;
}

.menuItem:last-of-type {
  // padding-bottom: 20px;
}

.active {
  // background-color: var(--active-list-item-popover);
  opacity: 0.6;
}

.disabled {
  opacity: 0.4;
}
